services:
  alloy:
    image: grafana/alloy:latest
    ports:
      - "3201:3200"
      - "4318:4318"
    volumes:
      - ./alloy:/etc/alloy
    command: run /etc/alloy/config.alloy
    depends_on:
      - prometheus
      - loki
      - tempo

  fastapi:
    build: ./fastapi-app
    ports:
      - "8000:8000"
    environment:
    - OTEL_SERVICE_NAME=fastapi
    - OTEL_EXPORTER_OTLP_ENDPOINT=http://alloy:4317
    - OTEL_EXPORTER_OTLP_PROTOCOL=grpc
    - OTEL_LOGS_EXPORTER=otlp
    - OTEL_METRICS_EXPORTER=otlp
    - OTEL_TRACES_EXPORTER=otlp


    depends_on:
      - alloy

  prometheus:
    image: prom/prometheus:latest
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus_data:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--web.enable-remote-write-receiver'

  loki:
    image: grafana/loki:latest
    ports:
      - "3100:3100"
    command: -config.file=/etc/loki/local-config.yaml

  tempo:
    image: grafana/tempo:latest
    ports:
      - "3200:3200"
    volumes:
      - ./tempo.yaml:/etc/tempo.yaml
      - tempo_data:/etc/tempo/blocks
    command: -config.file=/etc/tempo.yaml

  grafana:
    image: grafana/grafana:latest
    ports:
      - "3000:3000"
    environment:
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Admin
      - GF_AUTH_DISABLE_LOGIN_FORM=true
    depends_on:
      - prometheus
      - loki
      - tempo


volumes:
  prometheus_data:
  tempo_data:
