version: "3.9"

services:
  alloy:
    image: grafana/alloy:latest
    ports:
      - "3201:3200"
      - "4318:4318"
    volumes:
      - ./alloy:/etc/alloy
    command: run /etc/alloy/config.alloy
    depends_on:
      - prometheus
      - loki
      - tempo

  fastapi:
    build: ./fastapi-app
    ports:
      - "8001:8000"
    environment:
      - OTEL_SERVICE_NAME=fastapi
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://alloy:4317
      - OTEL_EXPORTER_OTLP_PROTOCOL=grpc
      - OTEL_LOGS_EXPORTER=otlp
      - OTEL_METRICS_EXPORTER=otlp
      - OTEL_TRACES_EXPORTER=otlp
    depends_on:
      - alloy

  prometheus:
    image: prom/prometheus:latest
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus_data:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--web.enable-remote-write-receiver'

  loki:
    image: grafana/loki:latest
    ports:
      - "3100:3100"
    command: -config.file=/etc/loki/local-config.yaml

  tempo:
    image: grafana/tempo:latest
    ports:
      - "3200:3200"
    volumes:
      - ./tempo.yaml:/etc/tempo.yaml
      - tempo_data:/etc/tempo/blocks
    command: -config.file=/etc/tempo.yaml

  grafana:
    image: grafana/grafana:latest
    ports:
      - "3080:3000"
    environment:
      GF_SECURITY_ADMIN_USER: admin
      GF_SECURITY_ADMIN_PASSWORD: admin123
    volumes:
      - grafana_data:/var/lib/grafana

volumes:
  prometheus_data:
  tempo_data:
  grafana_data:
